#table-container{
    background-color: #fff;
}
th{
    text-align: center;
}
.inputBox{
    width: 50px;
}
.descripBox{
    display: flex;
    /* 水平置中 */
    justify-content: center;    
    /* 垂直置中 */
    align-items: center;   
}
.descrip{
    width: 80%;
    margin-bottom: 10px;
    text-align: left;
}