{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="static/contact.css">
{% endblock %}

{% block content %}
<!-- <h1 class="mb-3">Contact Us</h1>
<form class="contactForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required>
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" required>
    </div>
    <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
<h1 class="mb-3">Contact Us</h1>
<div class="contactInfo">
    <p><strong>如果覺得想新增功能，或有改進的建議</strong></p>
    <p><strong>联系人：</strong> Jesse Tseng</p>
    <p><strong>电子邮件地址：</strong> uuuu1112@gmail.com</p>
</div>
<br>
<div class="contactInfo">
    <p><strong>如果遇上挫折想找人聊聊</strong></p>
    <p><strong>联系人：</strong> Rick Lin</p>
    <p><strong>电子邮件地址：</strong> rick@blessing.org.tw</p>
    <p><strong>地址(福氣教會)：</strong>807高雄市三民區明哲路33號B1ㄒ</p>
</div>
{% endblock %}