{% extends "base.html" %}
<!-- {% block js %}
<script src="{{ url_for('static', filename='invest.js') }}" defer></script>
{% endblock %} -->
{% block css %}
<link rel="stylesheet" type="text/css" href="static/invest.css">
{% endblock%}
{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-4">DCF Model</h1>
        <br>
        <form method="get" action="/dcfForm">
            <input type="checkbox" id="checkbox" name="checkbox" {% if query.withLiquidation == "on" %}checked{% endif %}>
            <label for="checkbox">with liquidation</label>
            <br>
            <!-- 下拉式選單 -->
            <label for="dropdown">init cash:</label>
            <select id="dropdown" name="cash_option">
                {% for key, value in cash_option.items() %}
                    <option value="{{ value }}" {% if query.selectCash == value %}selected{% endif %}>{{ key }}</option>
                {% endfor %}
            </select>

            <!-- 下拉式選單 -->
            <label for="dropdown">future 5 year CAGR:</label>
            <select id="dropdown" name="growth_option">
                {% for key, value in growth_option.items() %}
                    <option value="{{ value }}" {% if query.selectGrowth == value %}selected{% endif %}>{{ key }}</option>
                {% endfor %}
            </select>

            <!-- 最大年增率 -->
            <label for="inputText">growth max:</label>
            <input class="inputBox" type="text" id="inputText" name="maxValue" value="{{query.maxValue}}">

            <!-- 提交按鈕 -->
            <input type="submit" value="Submit">

        </form>
        <div class="descripBox">
            <div class="descrip">{{ query.descrip|safe }}</div>
        </div>
        <div id="table-container">
            {{ query.table_html|safe }}
        </div>
        
    </div>
{% endblock %}