{% extends "base.html" %}
<!-- {% block js %}
<script src="{{ url_for('static', filename='invest.js') }}" defer></script>
{% endblock %} -->
{% block css %}
<link rel="stylesheet" type="text/css" href="static/invest.css">
{% endblock%}
{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-4">INVESTMENTS</h1>
        <br>
        <form method="get" action="/form">
            <!-- 下拉式選單 -->
            <label for="dropdown">choose an investment:</label>
            <select id="dropdown" name="selected_option">
                {% for item in invest_options %}
                    <option value="{{ item.value }}" {% if query.selected_option == item.value %}selected{% endif %}>{{ item.text }}</option>
                {% endfor %}
            </select>
            <!-- 提交按鈕 -->
            <input type="submit" value="Submit">
        </form>
        <!-- 策略說明 -->
        <div class="descripBox">
            <div class="descrip">{{ query.descrip|safe }}</div>
        </div>
        <!-- 變數表格 -->
        <div id="table-container">
            {{ query.table_html|safe }}
        </div>
        
    </div>
{% endblock %}